
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&family=Nunito:wght@200..1000&display=swap');


.slick-slider {
    width: 100%;
    height: 100vh;
  }
  
  .slick-list,
  .slick-track {
    width: 100%;
    height: 100%;
  }
  
  .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }